{% extends "basic.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Basic info:</h5>
                        <p class="card-text"> Name: {{ person.name }}<br>
                            Surname: {{ person.surname }}<br>
                            Description: {{ person.description }}<br>
                            <a href="/delete/{{ person.id }}" class="btn btn-dark float-right">Delete {{ person.name }}</a>
                            <br></p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-secondary btn btn-dark" href="/">Back</a>
            <a class="btn btn-secondary btn btn-dark" href="/details/full/{{ person.id }}">Additional info</a>
        </div>
    </div>
{% endblock content %}