{% extends "basic.html" %}
{% block content %}
    <div class="container">
        Name: {{ person.name }}<br>
        Surname: {{ person.surname }}<br>
        Description: {{ person.description }}<br>
        <br>
        <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-secondary btn btn-dark" href="/">Back</a>
        <a class="btn btn-secondary btn btn-dark" href="/edit/{{ person.id }}">Edit basic info</a>
        <a class="btn btn-secondary btn btn-dark" href="/details/full/{{ person.id }}">Additional info</a>
        </div>
    </div>
{% endblock content %}