{% extends "basic.html" %}
{% block content %}
    <div class="container">
        Name: {{ person.name }}<br>
        Surname: {{ person.surname }}<br>
        Description: {{ person.description }}<br>
        <p> ----------------------- </p>
        <p>Addresses:</p>
        {% for j in address %}
            City: {{ j.city }}<br>
            Street: {{ j.street }}<br>
            House nr: {{ j.house_nr }}<br>
            Flat nr: {{ j.flat_nr }}<br>
            <p>-----------------------</p>
        {% endfor %}
        {% for i in phone %}
            Phone number: {{ i.number }}<br>
            Number type: {{ i.type }}<br>
        {% endfor %}
        {% for k in email %}
            Email: {{ k.email }}<br>
            Type: {{ k.get_email_type_display }}<br>
        {% endfor %}
        {% for l in group %}
            Group: {{ l.name }}<br>
        {% endfor %}
        <br>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-secondary btn btn-dark" href="/details/basic/{{ person.id }}">Back</a>
            <a class="btn btn-secondary btn btn-dark" href="/edit/{{ person.id }}">Edit basic info</a>
            <a class="btn btn-secondary btn btn-dark" href="/add/address/{{ person.id }}">Edit address</a>
            <a class="btn btn-secondary btn btn-dark" href="/add/phone/{{ person.id }}">Edit phone</a>
            <a class="btn btn-secondary btn btn-dark" href="/add/email/{{ person.id }}">Edit e-mail</a>
            <a class="btn btn-secondary btn btn-dark" href="/add/group/{{ person.id }}">Edit group</a>
            <a class="btn btn-secondary btn btn-dark" href="/delete/{{ person.id }}">Delete Person</a>
        </div>
    </div>
{% endblock content %}