{% extends "basic.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Basic:</h5>
                        <p class="card-text"> Name: {{ person.name }}<br>
                            Surname: {{ person.surname }}<br>
                            Description: {{ person.description }}<br></p>
                    </div>
                </div>
            </div>
        </div>
        {% for j in address %}
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Address {{ forloop.counter }}:</h5>
                            <p class="card-text"> City: {{ j.city }}<br>
                                Street: {{ j.street }}<br>
                                House nr: {{ j.house_nr }}<br>
                                Flat nr: {{ j.flat_nr }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for i in phone %}

            <br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Phone {{ forloop.counter }}:</h5>
                            <p class="card-text"> Phone number: {{ i.number }}<br>
                                Number type: {{ i.type }}<br></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for k in email %}
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">E-mail {{ forloop.counter }}:</h5>
                            <p class="card-text"> Email: {{ k.email }}<br>
                                Type: {{ k.get_email_type_display }}<br></p>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
        {% for l in group %}
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Group {{ forloop.counter }}:</h5>
                            <p class="card-text"> Group: {{ l.name }}<br></p>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
        <br>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-secondary btn btn-dark" href="/details/basic/{{ person.id }}">Back</a>
            <a class="btn btn-secondary btn btn-dark" href="/edit/{{ person.id }}">Edit basic info</a>
            <a class="btn btn-secondary btn btn-dark" href="/add/address/{{ person.id }}">Edit address</a>
            <a class="btn btn-secondary btn btn-dark" href="/add/phone/{{ person.id }}">Edit phone</a>
            <a class="btn btn-secondary btn btn-dark" href="/add/email/{{ person.id }}">Edit e-mail</a>
            <a class="btn btn-secondary btn btn-dark" href="/add/group/{{ person.id }}">Edit group</a>
            <a class="btn btn-secondary btn btn-dark" href="/delete/{{ person.id }}">Delete Person</a>
        </div>
    </div>
    <br>
{% endblock content %}