{% extends "basic.html" %}
{% block content %}
    <br>
    <form method="POST">
        {% csrf_token %}
        <label>
            Name:
            <input type="text" name="name" value="{{ advanced.name }}" placeholder="{{ advanced.name }}">
        </label>
        <label>
            Surname:
            <input type="text" name="surname" value="{{ advanced.surname }}" placeholder="{{ advanced.surname }}">
        </label>
        <label><br>
            Description:
            <input type="text" name="description" value="{{ advanced.description }}" placeholder="{{ advanced.description }}">
        </label><br>
        <label>
            Address:
            <input type="text" name="city" placeholder="city">
            <input type="text" name="street" placeholder="street">
            <input type="number" name="house_nr" placeholder="house nr">
            <input type="number" name="flat_nr" placeholder="flat nr">
        </label>
        <label>
            E-Mail:
            <input type="email" name="email">
        </label>
        <label>
            Phone number:
            <input type="number" name="phone_number">
        </label>
        <label>
            Group:
            <input type="text" name="group">
        </label>
        <button type="submit" value="{{ advanced.id }}" name="id">Save Person
        </button>
    <label>
        {{ unique }} {{ number }}
    </label>
    </form>
{% endblock content %}