{% extends "basic.html" %}
{% block content %}
    <br>
    <form method="POST">
        {% csrf_token %}
        <label>
            Name:
            <input type="text" name="name" value="{{ advanced.name }}" placeholder="{{ advanced.name }}">
        </label>
        <label>
            Surname:
            <input type="text" name="surname" value="{{ advanced.surname }}" placeholder="{{ advanced.surname }}">
        </label>
        <label><br>
            Description:
            <input type="text" name="description" value="{{ advanced.description }}" placeholder="{{ advanced.description }}">
        </label><br>
        <label>
            Address:
            <input type="text" name="city" placeholder="City" value="{{ advanced.occupant_key }}">
            <input type="text" name="street" placeholder="Street">
            <input type="number" name="house_nr" placeholder="House nr">
            <input type="number" name="flat_nr" placeholder="Flat nr">
        </label>
        <label><br>
            E-Mail:
            <input type="email" name="email" placeholder="E-mail">
        </label>
        <label><br>
            Phone number:
            <input type="number" name="phone_number" placeholder="Phone number">
        </label>
        <label><br>
            Group:
            <input type="text" name="group">
        </label><br>
        <button type="submit">Save Person
        </button>
    <label>
        {{ unique }} {{ number }}
    </label>
    </form>
{% endblock content %}
